  :root {
      --main-color: #244B7A;
      --color: #CF3549;
      --light-color: #ffffff;
      --dark-color: #032144;
      --deep-dark: #011226;
  }
  
  .logoForm{
  margin-bottom: 20px;
  align-self: center;
  }
  .container{
  
    display: flex;
  
    justify-content: center;
  
  }
  .app-wrapper-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vh ;
  
  }
  .app-wrapper{
  
    background-color: #ffffff;
    max-width: 380px;
    max-height: 500px;
    padding: 30px;
  
    border: 3px #244B7A solid;
    align-self: center;
  }
  
  .title{
    color: var(--dark-color);
    text-align: center;
    font-size: 32px;
    margin: 0px 0px 40px 0px;
  }
  
  .name, .email, .password, .age, .phoneNumber{
    margin: 20px;
    color: var(--deep-dark);
    font-size: 19px;
  }
  
  .phoneNumber{
    margin-bottom: 40px;
  }
  
  .input{
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid #011226;
  }
  
  .error{
    color: var(--color);
  }
  .submit{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
      width: 240px;
      height: 50px;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 60px;
    background-color: var(--main-color);
    margin: auto;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
  
  }
  
  button:active{
    transform: translate(2px);
  }
  
  .fom-succes{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color: #0619e6;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    height: 100vh;
    width: 100vh ;
  }
  
  .info-dis{
    align-self: center;
  
  }
  
  .title2{
    color: var(--light-color);
    font-size: 42px;
  }
  .mintext{
    color: var(--light-color);
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
  
  
  }
  ul{
    margin-top: 60px;
  }
  
  
  @media all and (max-width:912px){
    .container{
      display: flex;
      flex-direction: column;
    }
  
    .title2{
      margin-top: -25%;
    }
  }