/*levels*/

.coming-newDesign{
    background-color: var(--color);
	padding: 20px;
	margin-right: -11%;
	margin-top: -2%;
	width: 180px;
	color: var(--light-color);
	font-size: 22px;
    text-align: center;
margin-left: auto;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
text-transform: uppercase;
}

.level-paid {
	flex-direction: column;
	justify-content: center;
	border-radius: 8px;
	padding: 30px;
	background-image: url(../../public/images/level.jpg);
	transition: transform .1s;
		background-position-x: center;
	background-size: cover;
	width: 455px;
min-height: 100%;
	cursor: pointer;
	box-shadow: 0px 0px 8px 6px #75e675;
	text-align: justify;
	position: relative;
	margin-bottom: 8%;
overflow: hidden;

}
.level-item{
	flex-direction: column;
	justify-content: center;
	padding: 36px;
	text-align: center;
	width: 460px;
	max-height: 1050px;
		margin-bottom: 10%;
		cursor: pointer;
}

.level-paid:hover {
	transform: scale(1.1);
}

.btn-levels-paid {

	border: none;
	border: 4px #244B7A solid ;
	background: none;
	border-radius: 10px;
	width: 240px;
	height: 50px;
	color: var(--main-color);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 30px;
	margin-bottom: -4%;
	position: absolute;
}




.center-level{
	display: flex;
	flex-direction: column;
	justify-content: center;
margin-top: 12%;
display: block;
}

.btn-levels-paid:hover {
	background: var(--main-color);
	color: var(--light-color);
}
.appliName-levelOne-free{
	margin-top: 10px;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	color: var(--color);
	text-transform: uppercase;
	position: relative;
}





/*button*/

.welcome {
    background-color: transparent;
    color: var(--main-color);
	font-size: 20px;
	font-weight: bold;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;

  }
  
@-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
  }
  
  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
  }



  @media (max-width:286px){}
  .appliName-levelOne-free{
	font-size: 24px;
  }