
.body{
	background-color:var(--main-color) ;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center;
}

form{
	background-color: var(--light-color);
	align-items: center;
    width: 660px;
	overflow: hidden;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 0px 8px 4px #353535;
	}

.mt {
	margin-top: 18px;
	font-size: 18px;
	font-weight: 500;
	}
.check{
	display: flex;
	justify-content: center;
border: 1px #CF3549 solid;
padding: 6px;
	
}
	.mini-text{
		font-size: 12px;
		word-spacing: 6px;
		margin-left: 8px;
	}

	.check-box{
		width: 60px;
		height: 60px;
	}
.logo-center{
margin: auto;
margin-top: -20px;
margin-bottom: 20px;
}

.btn-center{
	margin: auto;
}
.label {
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	font-weight: 500;
	word-spacing: 6px;
}


input {
	margin-left: 20px;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.thirteen {
	padding: 30px;
}

.btn{
	display: flex;
	justify-content: center;
}
.btn-level-anketa {
	border: none;
	background: var(--main-color);
	border-radius: 10px;
	width: 240px;
	height: 50px;
	color: var(--light-color);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
	align-self: center;

}

.btn-level-anketa:hover {
	background: var(--dark-color);
	color: var(--light-color);
}


@media all and (max-width:800px) {

	form {
		width: 350px;
		padding: 20px;
	}
}

@media all and (max-width:500px) {

	.label {
		font-size: 16px;
		padding: 6px;
		margin: 6px;
		word-spacing: 8px;
	}

	h1 {
		font-size: 20px;
		margin-top: 14px;
	}



	input {
		margin-left: 16px;
	}

}

@media all and(max-width:300px) {

	.label {
		font-size: 10px;
		padding: 6px;
		margin: 6px;

	}


	form {
		width: 350px;
		padding: 10px;
	}

	input {
		margin-left: 4px;
	}

	.mt {
		margin-top: 6px;
		display: flex;
		flex-wrap: wrap;
	}

	.logo-center{

		margin-top: -20px;
		margin-bottom: 20px;
		}

}

/* .chatWithMeButton {
	cursor: 'pointer';
	box-shadow: '0px 0px 16px 6px rgba(0, 0, 0, 0.33)';
	border-radius: '50%';
	background-image: url(https://chat-engine-assets.s3.amazonaws.com/tutorials/my-face-min.png);
	background-repeat: 'no-repeat';
	background-position: 'center';
	background-size: '84px';
	width: '84px';
	height: '84px';
}

.avatarHello{ 
	position: 'absolute';
	left: 'calc(-100% - 44px - 28px)'; 
	top: 'calc(50% - 24px)';
	z-index: '10000';
	box-shadow: '0px 0px 16px 6px rgba(0, 0, 0, 0.33)';
	padding: '12px 12px 12px 16px';
	border-radius: '24px';
	background-color: '#f9f0ff';
	color: 'black';
}

.supportWindow{
	position: 'fixed';
	bottom: '116px';
	right: '24px';
	width: '420px';
	height: '530px';
	max-width: 'calc(100% - 48px)';
	max-height: 'calc(100% - 48px)';
	background-color: 'white';
	border-radius: '12px';
	border: "2px solid #7a39e0";
	overflow: 'hidden';
	box-shadow: '0px 0px 16px 6px rgba(0, 0, 0, 0.33)';
}

.emailFormWindow{ 
	width: '100%';
	overflow: 'hidden';
	transition: "all 0.5s ease";
	-webkit-transition: "all 0.5s ease";
	-moz-transition: "all 0.5s ease";
}

.stripe{
	position: 'relative';
	top: '-45px';
	width: '100%';
	height: '308px';
	background-color: '#7a39e0';
	transform: 'skewY(-12deg)'
}

.topText{ 
	position: 'relative';
	width: '100%';
	top: '15%';
	color: 'white';
	font-size: '24px';
	font-weight: '600';
}

.emailInput{ 
	width: '66%';
	text-align: 'center';
	outline: 'none';
	padding: '12px';
	border-radius: '12px';
	border: '2px solid #7a39e0';
}

.bottomText{ 
	position: 'absolute';
	width: '100%'; 
	top: '60%';
	color: '#7a39e0';
	font-size: '24px';
	font-weight: '600';
}

.loadingDiv{ 
	position: 'absolute';
	height: '100%'; 
	width: '100%'; 
	text-align: 'center';
	background-color: 'white';
}

.loadingIcon{ 
	color: '#7a39e0',;
	position: 'absolute';
	top: 'calc(50% - 51px)'; 
	left: 'calc(50% - 51px)';
	font-weight: '600';
}

.chatEngineWindow{
	width: '100%'; 
	background-color: '#fff';
} */