@font-face {
	font-family: 'Merriweather';
	src: url(../Anketa/Merriweather-Light.ttf);
}

* {
	box-sizing: border-box;
   }


.employer-first-block {
	width: 100%;
	background-image: url(../../../public/images/firstPhoto.jpg);
	background-position: center;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.first-block-employer {
	display: flex;
	flex-direction: column;
	max-width: 880px;
	justify-content: center;
	padding: 120px;
}

.h2-employer,
.h2-employer-light {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	color: var(--dark-color);
	text-transform: uppercase;
}

.text-employer,
.text-employer-light {
	font-size: 20px;
	font-weight: 600;
	color: var(--dark-color);
	font-family: 'Merriweather', serif;
	word-spacing: 14px;
	text-align: justify;
}


.hr {
	width: 100%;
	height: 20px;
	background-color: var(--main-color);
}


.employer-benefits {
	width: 100%;
	display: flex;
}

.text-employer-benefits {
	font-size: 20px;
	font-weight: 600;
	color: #787878;
	font-family: 'Merriweather', serif;
	word-spacing: 14px;
	max-height: 850px;
	text-align: justify;
}

.photo-block-employer {
	display: flex;
	justify-content: center;
	background-color: var(--dark-color);
	width: 100%;
}

.photo-ben {
	align-self: center;
	box-shadow: 0px 0px 8px 2px #b5b3b3;
}


.block-benefits-employer {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	justify-content: center;
	padding: 60px;
}

.par-benefits-employer {
	font-size: 18px;
	font-weight: 600;
	color: var(--dark-color);
	font-family: 'Merriweather', serif;
	word-spacing: 16px;
	padding: 10px;
	text-align: justify;
}

.par-employer-ben {
	font-size: 22px;
	font-weight: 800;
	color: var(--dark-color);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -4%;
}

.documents {

	background-image: url(../../../public/images/documents.jpg);
	background-position: center;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.doc-table {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

table,
th,
td {
	border: rgb(20, 3, 88) 2px solid;
}

td {
	background-color: var(--main-color);
	color: var(--light-color);
	font-family: 'Merriweather', serif;
	font-weight: 500;
	word-spacing: 8px;
	padding: 16px 22px;
	text-align: justify;
}

.table {
	padding-top: 60px;
	padding-bottom: 160px;
	align-self: center;
}

table {
	max-width: 1100px;
	align-self: center;
}

.h2-employer-table {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	color: var(--dark-color);
	text-transform: uppercase;
	margin-top: 7%;
}

.perm {
	background-color: var(--light-color);
	font-size: 20px;
	font-weight: bold;
}

.table-color {
	background-color: var(--light-color);
	color: var(--deep-dark);
	font-size: 18px;
	font-weight: 800;
}

.table-time {
	width: 100%;
	background-color: var(--dark-color);
	height: 100%;
}

.h2-table {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	color: var(--light-color);
	text-transform: uppercase;
	margin-top: 7%;
}

.table-time {
	padding-top: 40px;
	padding-bottom: 40px;
	align-self: center;
}

.text-table-time {
	font-size: 16px;
	font-weight: lighter;
	color: var(--light-color);
	font-family: 'Merriweather', serif;
	word-spacing: 11px;
	max-height: 450px;
	text-align: center;
}

.time {
	width: 100%;
}

.summary {
	width: 100%;
	background-image: url(../../../public/images/summary.jpg);
	background-position: center;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.summary-form {
	display: flex;
}

.block-summary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	max-width: 850px;
	padding: 60px;
}

.text-summary {
	font-size: 20px;
	font-weight: 600;
	color: var(--dark-color);
	font-family: 'Merriweather', serif;
	word-spacing: 12px;
	align-self: center;
	text-align: justify;
}

.app-wrapper-form {
	display: flex;
	justify-content: center;
	width: 100%;
min-height: 500px;
}

.logoForm-employer {

	text-align: center;
}


.app-wrapper-employer {
	background-color: #ffffff;
	min-width: 380px;
	min-height: 500px;
	padding: 40px;
	border: 3px #244B7A solid;
	align-self: center;
}

.form-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.number-input-form {
	align-self: center;
	height: 36px;
	font-size: 20px;
	width: 300px;
	margin-top: 4px;
}

.title-form {
	color: var(--dark-color);
	text-align: center;
	max-width: fit-content;
	font-size: 28px;
	margin: 10px 0px 40px 0px;
	word-break: break-all;

}

.company,
.email-form,
.time,
.phoneNumber-form {
	margin: auto;
	padding: 10px;
	color: var(--deep-dark);
	font-size: 19px;
}


.react-tel-input .form-control {
	position: none;
	font-size: 14px;
	letter-spacing: .01rem;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 48px;
	margin-left: 0;
	background: #FFFFFF;
	border: 1px solid #CACACA;
	border-radius: 6px;
	line-height: 25px;
	height: 36px;
	width: 300px;
	outline: none;
}

.left-phone {
	margin-left: 19%;
}

.left-form {
	margin-left: -10px;
}

.input-form {
	height: 36px;
	font-size: 20px;
	width: 300px;
	border-radius: 6px;
	border: 1px solid #d8d8d8;
	margin-top: 4px;
}

.comment-form {
	font-size: 20px;
	width: 300px;
	border-radius: 6px;
	border: 1px solid #d8d8d8;
	margin-top: 4px;
}

.error {
	color: var(--color);
	font-weight: 600;
	margin-left: 30px;
	margin-top: -1px;
}
.error-phone-left{
margin-left: 22%;
font-size: 18px;
color: var(--color);
font-weight: 600;
margin-top: -1px;
}
.error-left {
	color: var(--color);
	margin-left: 20px;
	margin-top: -1px;
	font-weight: 600;

}

.submit-send {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	border-radius: 10px;
	border: none;
	width: 240px;
	height: 50px;
	font-size: 18px;
	color: #ffffff;
	padding: 10px 60px;
	background-color: var(--main-color);
	margin: auto;
	outline: none;
	cursor: pointer;
	transition: all 0.1s;
	margin-top: 10%;

}

button:active {
	transform: translate(2px);
}

@media all and (max-width:1280px) {


	.left-phone {
		margin-left: 7%;
	}

}

@media all and (max-width:1024px) {
	.photo-block-employer {
		display: none;
	}

	.header-nav-item {
		font-size: 16px;
	}

	.summary-form {
		display: flex;
		flex-direction: column;
	}

	.block-summary {
		padding: 40px;
	}

	.app-wrapper-form {
		margin-top: -15%;
	}
}

@media all and (max-width:920px) {
	.photo-block-employer {
		display: none;
	}

	.h2-employer,
	.h2-employer-light,
	.h2-employer-table,
	.h2-table {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 40px;
		font-weight: bolder;
	}

	.summary-form {
		display: flex;
		flex-direction: column;
	}

	.app-wrapper-form {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100vh;
	}


	.app-wrapper-employer {
		background-color: #ffffff;
		min-width: 280px;
		min-height: 500px;
		padding: 30px;
	}

	.input-form {
		height: 36px;
		font-size: 20px;
		width: 260px;
		border-radius: 6px;
		border: 1px solid #d8d8d8;
		margin-top: 4px;
	}

	.react-tel-input .form-control {
		width: 260px;
	}


	.left-phone {
		margin-left: 22%;
	}
}


@media all and (max-width:800px) {
	.photo-block-employer {
		display: none;
	}

	.h2-employer,
	.h2-employer-light,
	.h2-employer-table {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	.left-phone {
		margin-left: 22%;
	}

}

@media (max-width: 768px) {
	td {
		font-weight: 500;
		word-spacing: 10px;
		padding: 12px 11px;
	}
}

@media (max-width:579px) {
	.header-nav {
		position: fixed;
		top: 0;
		left: -225px;
		display: flex;
		flex-direction: column;
		width: 220px;
		height: 100%;
		background-color: var(--light-color);
		box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
		transition: transform 0.3s linear;
	}

	.header-nav.active {
		transform: translateX(100%);
	}

	.header-nav-list {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding-top: 10px;
	}

	.header-nav-item {
		text-align: center;
		align-items: center;
		font-weight: 600;
		font-size: 20px;
		padding: 16px 26px;
	}

	.header-nav-item:nth-child(n + 2) {
		margin-left: 0;
	}

	.header-menu-button {
		display: block;
		margin-left: auto;
		background-color: transparent;
		padding: 0;
		border: 0;
	}

	.youtube-level1 {
		margin-top: 60px;
		width: 350px;
		height: 215px;
	}


	.level-first-block {
		display: flex;
		flex-direction: column;
	}

	.text-employer-benefits {
		font-size: 16px;
		word-spacing: 14px;
		max-height: 850px;
	}

	td {
		font-weight: 500;
		word-spacing: 10px;
		padding: 12px 11px;
	}
}

@media (max-width:440px) {
	.left-phone {
		margin-left: 12%;
	}

}

@media (max-width:412px) {
	.left-phone {
		margin-left: 12%;
	}

}

@media (max-width:400px) {
	.left-phone {
		margin-left: 10%;
	}

}


@media (max-width:380px) {

	.h2-employer,
	.h2-employer-light,
	.h2-employer-table,
	.h2-table {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 600;
	}


	.first-block-employer {
		padding: 40px;
	}

	.text-employer,
	.text-employer-light {
		font-size: 16px;
		font-weight: 500;
		color: var(--dark-color);
		font-family: 'Merriweather', serif;
		word-spacing: 14px;
	}

	.text-employer-benefits {
		font-size: 16px;
		word-spacing: 14px;
		max-height: 850px;
	}

	table,
	th,
	td {
		border: rgb(5, 2, 13) 1px solid;
		width: 100%;
	}

	td {
		background-color: var(--main-color);
		color: var(--light-color);
		font-family: 'Merriweather', serif;
		font-weight: 500;
		word-spacing: 8px;
		padding: 14px 20px;
	}

	.table {
		padding-top: 30px;
		padding-bottom: 80px;
	}

	.table-color {
		font-size: 16px;
		font-weight: 600;
	}

	td {
		font-weight: 500;
		word-spacing: 10px;
		padding: 12px 11px;
	}

	.text-employer-benefits {
		font-size: 14px;
		font-weight: 500;
	}

	.par-benefits-employer {
		font-size: 16px;
		font-weight: 600;
		padding: 8px;
	}

	.block-benefits-employer {
		padding: 30px;
	}

	.text-table-time {
		font-size: 12px;
		color: rgb(197, 193, 193);
		word-spacing: 11px;
		max-height: 80px;
	}

	.text-summary {
		font-size: 16px;
		font-weight: 500;
		color: var(--deep-dark);
		word-spacing: 11px;
	}

	.title-form {
		font-size: 23px;
	}

	.left-phone {
		margin-left: 7%;
	}
 .app-wrapper-form{
	margin-top: 10%;
 }

}